## 1
홍길동 씨의 과목별 점수는 다음과 같다. 총길동씨의 평균 점수를 구해 보자.

| 과목 | 점수 | 
|:----:|----:|
|국어|80|
|영어|75|
|수학|55|

In [0]:
a=80
b=75
c=55
(a+b+c)/3

70.0

## 2 
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [0]:
13%2

1

    자연수 2로 나누었을 때의 나머지 값이 1은 경우 홀수, 0인 경우 짝수이다. 13을 2로 나누었을 때 나머지 값이 1이 나와 13은 홀수이다.

## 3
홍길동씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [0]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

## 4 
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [0]:
pin = "881120-1068234"
print(pin[7])

1

    성별을 나타내는 숫자는 8번째 자리이고, 1이면 남자 2이면 여자이다. 따라서 이 주민등록번호는 남자이다.

## 5
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

 **a = "a:b:c:d"**

In [0]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

## 6 
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [0]:
a = [1, 3, 5, 4, 2]
a.sort( )
a.reverse( )
print(a)

[5, 4, 3, 2, 1]

## 7 
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [0]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

## 8
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [0]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

## 9
다음과 같은 딕셔너리 a가 있다.

```
a = dict()
a
{}
```

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [0]:
# 1
a={'name': 'python'}
a

{'name': 'python'}

In [0]:
# 2
a={('a',): 'python'}
a

{('a',): 'python'}

In [0]:
# 3
a={[1]: 'python'}
a

TypeError: ignored

In [0]:
# 4
a={250: 'python'}
a

{250: 'python'}

    3번을 실행하면 오류가 발생한다. 그 이유는 딕셔너리의 키로는 변하는 값을 사용할 수 없기 때문이다. 3번에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는 값이므로 딕셔너리의 키로 사용이 가능하다.

## 10
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

**a = {'A':90, 'B':80, 'C':70}**

In [0]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')        
print(result)
print(a)

80
{'A': 90, 'C': 70}

## 11
a 리스트에서 중복 숫자를 제거해 보자.

**a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]**

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)    
b = list(aSet)    
print(b)

[1, 2, 3, 4, 5]

## 12

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

```
a = b = [1, 2, 3]
a[1] = 4
print(b)
```

In [0]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문에 a가 변경되면 b도 변경된다.