<a href="https://colab.research.google.com/github/syeong1218/python/blob/master/jump_to_python_ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1
**주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.**

In [0]:
def is_odd(number):
  if number % 2 ==1:
    return True
  else:
    return False

홀수이면 True을 짝수이면 False을 나타낸다.

In [2]:
is_odd(5)

True

In [3]:
is_odd(2)

False

람다를 이용하여 더 간단하게 함수를 만들 수도 있다.

In [0]:
is_odd = lambda x: True if x % 2 == 1 else False

In [5]:
is_odd(5)

True

## 2
**입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)**

In [0]:
def avg_numbers(*args):
  result =0
  for i in args:
    result +=i
  return result / len(args)

In [7]:
avg_numbers(1,2,3)

2.0

In [8]:
avg_numbers(2,4,6,8,10)

6.0

## 3
**다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.**

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)
```

**이 프로그램을 수행해 보자.**

```
첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다
```

**3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.**

In [9]:
input1 = input("첫 번째 숫자를 입력하세요:")
input2 = input("두 번째 숫자를 입력하세요:")

total = int(input1) + int(input2) 
print("두수의 합은 %s 입니다" % total)

첫 번째 숫자를 입력하세요:3
두 번째 숫자를 입력하세요:6
두수의 합은 9 입니다

input은 문자열로 인식하므로 숫자로 바꿔주는 int()를 사용해야한다.

## 4

**다음 중 출력 결과가 다른 것 한 개를 골라 보자.**

1. print("you" "need" "python")
2. print("you"+"need"+"python")
3. print("you", "need", "python")
4. print("".join(["you", "need", "python"]))

In [11]:
#1
print("you" "need" "python")

youneedpython

In [12]:
#2
print("you"+"need"+"python")

youneedpython

In [13]:
#3
print("you", "need", "python")

you need python

In [14]:
#4
print("".join(["you", "need", "python"]))

youneedpython

3번에 콤마가 있어 문자열 사이에 공백이 삽입되어 나머지들과 출력 결과가 다르다.

## 5
**다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.**

```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())
```
**이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.**

파일을 닫지 않은 상태에서 다시 열면 파일에 저장한 데이터를 읽을 수 없다. 따라서 열린 파일 객체를 close로 닫아준 후 다시 열어서 파일의 내용을 읽어야 한다.

In [25]:
f1 = open("test.txt", 'w')
f1.write("Life is too short!")
f1.close() 

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short!

아니면 close를 명시적으로 할 필요가 없는 with구문을 사용한다.

In [26]:
with open("test.txt", 'w') as f1:
    f1.write("Life is too short! ")
with open("test.txt", 'r') as f2:
    print(f2.read())

Life is too short!

## 6 
**사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)**

기존 내용을 유지하고 새로운 내용을 덧붙이기 위해서 다음과 같이 'a' 모드를 사용해야 한다.

In [28]:
user_input = input("저장할 내용을 입력하세요:")
f = open('test.txt', 'a')  
f.write(user_input)
f.write("\n")             
f.close()

저장할 내용을 입력하세요: you need java

In [29]:
!cat test.txt

Life is too short!
 you need java

## 7
**다음과 같은 내용을 지닌 파일 test.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.**

```
Life is too short
you need java
```

파일을 모두 읽은 후에 문자열의 replace 함수를 사용하여 java라는 문자열을 python으로 변경한 다음 저장한다.

In [0]:
f = open('test.txt', 'r')
body = f.read()
f.close()

body = body.replace('java', 'python')

f = open('test.txt', 'w')
f.write(body)
f.close()

In [31]:
!cat test.txt

Life is too short!
 you need python